<% unless is_public %>
<div class="w-100 d-flex justify-content-end mb-3 pe-5">
    <%=link_to new_user_photo_path(current_user), class: "profile-edit-btn" do %>
        <%= t('button.add_photo') %>
    <% end %>
</div>
<%end%>

<section class="mt-5 d-flex flex-wrap gap-5 justify-content-center profile-tab-view">
<% if albums.empty? %>
    <div class="text-center text-uppercase text-muted">
        <p><%= t('message.no_albums') %></p>
    </div>
<%else%>
<% albums.each do |album| do%>
    <div class="tab-item album">
        <!-- TODO: click the album to view all photos in a modal
        Edit btn only in My Profile-->
        <div class="album-profile">
            <%= image_tag album.photos.first, alt: t('button.photo.one'), class: "layer1" %>
            <%= image_tag album.photos.first, alt: t('button.photo.one'), class: "layer2" %>
            <%= image_tag album.photos.first, alt: t('button.photo.one'), class:"layer3" %>

            <%= link_to edit_album_path(album), class: "edit-album-btn" do%>
                <button>
                    <%= t('button.edit')%>
                </button>
            <%end%>

            <!-- TODO: Private icon only shown in My Profile-->
            <% unless album.is_public %>
            <i class="fa-solid fa-lock lock-icon-album", title="<%= t('post.private')%>"></i>
            <% end %>

            <!--TODO: Show number of photos in the album-->
            <div class="photos-count d-flex flex-column justify-content-center align-items-center">
                <p class="number m-0"><%= album.photos_count %></p>
                <p class="text-uppercase m-0"><%= t('button.photo', count: album.photos_count) %></p>
            </div>
        </div>

        <p class="m-3 mt-5 photo-title truncate">l
            <%album.title%>
        </p>
    </div>
<%end%>
</section>