<section class="mt-5 d-flex flex-wrap gap-4 justify-content-center profile-tab-view">
<% if followings.empty? %>
    <h3 class="text-muted text-uppercase"><%= t('message.no_followees') %></h3>
<% else %>

<%followings.each do |following|%>
    <div class="follow tab-item d-flex flex-column gap-2 align-items-center justify-content-center">
        <%= image_tag following.user.get_avatar, alt: t("profile.avatar"), class: "avatar m-0 #{style_avatar(following.user)}" %>
        <div> <!-- Need <div> to display properly-->
            <p class="truncate username"> <%= following.user.username %></p>
        </div>
        <div class="d-flex gap-4 mb-2 extra-info">
            <div class="text-center">
                <p class="m-0 number"><%= following.photos_count %></p>
                <p class="m-0 text-uppercase"><%= t('button.photo', count: following.photos_count) %></p>
            </div>

            <div class="text-center">
                <p class="m-0 number"><%= following.albums_count %></p>
                <p class="m-0 text-uppercase"><%= t('button.album', count: following.albums_count) %></p>
            </div>
        </div>
        
        <%= render "layouts/follow_btn"%>
    </div>
<%end
end%>
</section>