<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :photos_count, style: "display: block" %>
    <%= form.number_field :photos_count %>
  </div>

  <div>
    <%= form.label :albums_count, style: "display: block" %>
    <%= form.number_field :albums_count %>
  </div>

  <div>
    <%= form.label :followers_count, style: "display: block" %>
    <%= form.number_field :followers_count %>
  </div>

  <div>
    <%= form.label :followings_count, style: "display: block" %>
    <%= form.number_field :followings_count %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
