<% unless is_public %>
<div class="row justify-content-end mb-3">
    <%=link_to new_photo_path, class: "profile-edit-btn btn" do %>
        <%= t('button.add_photo') %>
    <% end %>
</div>
<%end%>

<section class="mt-5 d-flex flex-wrap gap-4 justify-content-center profile-tab-view">
<% photos.each do |photo| %>
    <div class="tab-item">
        <div class="img-div">
            <!-- TODO: click the image to view the photo in a modal
                        Edit btn only in My Profile
             -->
            <%= image_tag photo.user.image_path, alt: t('photo')%>
            <% unless is_public%>
                <%= link_to edit_photo_path, class: "edit-photo-btn" do%>
                    <button>
                        <%= t('button.edit')%>
                    </button>
                <%end%>
            <%end%>

            <!-- TODO: Private icon only shown in My Profile-->
            <%unless photo.is_public%>
                <i class="fa-solid fa-lock lock-icon", title="<%= t('post.private')%>"></i>
            <%end%>
        </div>
        <p class="m-3 mt-2 photo-title truncate">
            <%= photo.title %>
        </p>
    </div>
<%end%>
</section>