<div id="<%= dom_id profile %>">
  <p>
    <strong>Photos count:</strong>
    <%= profile.photos_count %>
  </p>

  <p>
    <strong>Albums count:</strong>
    <%= profile.albums_count %>
  </p>

  <p>
    <strong>Followers count:</strong>
    <%= profile.followers_count %>
  </p>

  <p>
    <strong>Followings count:</strong>
    <%= profile.followings_count %>
  </p>

</div>
