<%= content_for :title, @is_public ? "Profile" : "My Profile" %>

<!-- TODO -->
<section class="general-info d-flex m-3 gap-4 container-fluid">
  <%= image_tag @target_person.get_avatar, alt: t('profile.avatar'), class: "profile-avatar #{style_avatar(@target_person)}" %>

  <div class="d-flex flex-column justify-content-center gap-3">
    <% unless @is_public%>
      <%= link_to edit_user_registration_path do %>
        <button class="edit-profile-btn">
          <%= t('button.edit_profile') %>
        </button>
      <% end %>
    <% else %>
      <!-- bigger follow btn-->
      <%if user_signed_in? %>
      <%= render "layouts/follow_btn", is_following: check_follow(current_user.profile, @target_profile), profile_id: @target_person.id, bigger: true %>
    <% end
    end %>

    <h1><%= "#{@target_person.first_name} #{@target_person.last_name}" %></h1>

    <div class="btn-group profile-btn-group d-flex flex-wrap gap-3">
      <%= profile_photo_tab(@is_public, count: @target_profile.photos_count) %>

      <%= profile_album_tab(@is_public, count: @target_profile.albums_count) %>

      <%= profile_follower_tab(@is_public, count: @target_profile.followers_count) %>
      
      <%= profile_following_tab(@is_public, count: @target_profile.followings_count) %>
    </div>
    
  </div>
</section>


<% if request.fullpath.include?("photos") %>
<%= render partial: "profiles/photo_tab", locals: { photos: @photos, is_public: @is_public } %>
<% elsif request.fullpath.include?("albums") %>
<%= render partial: "profiles/album_tab", locals: { albums: @albums, is_public: @is_public } %>
<% elsif request.fullpath.include?("followers") %>
<%= render partial: "profiles/follower_tab", locals: { followers: @follower_profiles, is_public: @is_public } %>
<% elsif request.fullpath.include?("following") %>
<%= render partial: "profiles/following_tab", locals: { followings: @following_profiles, is_public: @is_public } %>
<%end%>