<%= content_for :title, "Profile"%>

<!-- TODO -->
<section class="general-info d-flex m-3 gap-4 container-fluid">
  <%= image_tag "demo-avatar.png", alt: t('profile.avatar'), class: "profile-avatar" %>

  <div class="d-flex flex-column gap-3">
    <%= link_to edit_user_registration_path do %>
      <button class="edit-profile-btn">
        <%= t('button.edit_profile') %>
      </button>
    <% end %>

    <h1><%= "#{current_user.first_name} #{current_user.last_name}" %></h1>

    <div class="btn-group profile-btn-group d-flex flex-wrap gap-3">
      <%= profile_photo_tab(@is_public, count: @target_person.photos_count) %>

      <button class="profile-tab-btn text-uppercase">
        <p class="m-0 number">108</p>
        <%= t('button.album', count:108)%>
      </button>

      <button class="profile-tab-btn text-uppercase">
        <p class="m-0 number">1</p>
        <span><%= t('button.follower', count:1) %></span>
      </button>

      <button class="profile-tab-btn text-uppercase">
        <p class="m-0 number">0</p>
        <span><%= t('button.following', count:0) %></span>
      </button>
    </div>
    
  </div>
</section>


<% if request.fullpath.include?("photos") %>
<%= render partial: "profiles/photo_tab", locals: { photos: @photos, is_public: @is_public } %>
<% elsif request.fullpath.include?("albums") %>
<%= render partial: "profiles/album_tab", locals: { albums: @albums, is_public: @is_public } %>
<% elsif request.fullpath.include?("followers") %>
<%= render partial: "profiles/follower_tab", locals: { followers: @followers, is_public: @is_public } %>
<% elsif request.fullpath.include?("following") %>
<%= render partial: "profiles/following_tab", locals: { following: @following, is_public: @is_public } %>
<%end%>