<section class="profile-form-container d-flex flex-column align-items-center justify-content-center gap-4 m-4">
    <div class="d-flex justify-content-between w-100">
        <h1 class="m-0"><%= t('profile.edit_title')%></h1>
        <button class="custom-primary-btn back">
            <%= t('button.back')%>
        </button>
    </div>
    <hr class="w-100"/>

    <%= form_with model: @user, url: admin_user_path(@user), class: "w-100" do |f| %>
        <div class="change-avatar m-auto" data-controller="image-upload">
            <%= image_tag @user.get_avatar, alt: t('profile.avatar'), data: {image_upload_target: "preview"}, class:  style_avatar(@user) %>
            
            <%= f.file_field :avatar, id: "avatar_input", accept: "image/jpeg, image/png, image/gif",  
                data: { image_upload_target: "fileField", action: "change->image-upload#previewAvatar" } %>
            <button class="change-btn" data-image-upload-target="imgBtn" data-action="click->image-upload#changeAvatar" type="button"> <!-- must declare type btn in order not to misbehave -->
                <%= t('button.change')%>
            </button>
        </div>

        <h2 class="text-center my-5"><%= t('profile.basic_info') %></h2>
        <div class="row mb-3">
            <%= f.label :first_name, t('profile.fname'), class: "col-md-3 col-form-label me-3 text-md-end text-start fw-bold" %>
            <%= f.text_field :first_name, maxlength: 25, class: "col-md-6", required: true %>
        </div>

        <div class="row mb-3">
            <%= f.label :last_name, t('profile.lname'), class: "col-md-3 col-form-label me-3 text-md-end text-start fw-bold" %>
            <%= f.text_field :last_name, maxlength: 25, class: "col-md-6", required: true %>
        </div>

        <div class="row mb-3">
            <%= f.label :email, t('profile.email'), class: "col-md-3 col-form-label me-3 text-md-end text-start fw-bold" %>
            <%= f.email_field :email, maxlength: 25, class: "col-md-6", required: true %>
        </div>

        <div class="row mb-3">
            <%= f.label :is_active, t('profile.active'), class: "form-check-label col-form-label col-3 me-3 text-md-end text-start fw-bold" %>
            <%= f.check_box :is_active, class: "custom form-check-input col-6" %>
        </div>

        <div class="d-flex flex-column flex-md-row mt-5">
            <%= f.submit t('button.save'), class: "m-auto save custom-primary-btn" %>
        </div>
    <% end %>

    <!-- TODO: delete account -->
    <%= button_to admin_user_path(@user), method: :delete, 
        data: { turbo_confirm: t('message.delete_confirm') }, class: "delete-btn mb-5" do %>
      <i class="fa-solid fa-trash me-2"></i>
      <%= t('button.delete_this_acc') %>
    <% end %>   

</section>