<!-- TODO: manage users page -->
<h1 class="fw-bold text-center my-4 admin-mng-title"><%= t('sidebar.mng_users') %></h1>

<div class="m-5 table-responsive d-flex justify-content-center align-items-center">
<table class="table table-hover align-middle">
    <thead class="fw-bold">
      <tr>
        <th><%= t('profile.user_id') %></th>
        <th><%= t('profile.fname') %></th>
        <th><%= t('profile.lname') %></th>
        <th><%= t('profile.email') %></th>
        <th><%= t('profile.last_login') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-group-divider custom">
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td class="email-cell"><%= user.email %></td>
            <td><%= user.last_sign_in_at&.strftime('%H:%M:%S %d/%m/%Y') %></td>
          <td>
            <div class="d-flex dlex-wrap">
                <%= link_to edit_admin_user_path(user.id), class: "save custom-primary-btn shadow-sm me-2" do %>
                  <%= t('button.edit') %>
                <% end %>
                <%= button_to admin_user_path(user.id), method: :delete, class: "btn btn-danger shadow-sm",
                    data: { turbo_confirm: t('message.delete_confirm') } do %>
                  <%= t('button.delete') %>
                <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>

<!-- Kaminari pagination -->
<div class="d-flex mt-5 px-3 w-100 justify-content-center mt-auto">
<%= paginate @users, window: 2 %>
</div>
