<!-- TODO: manage users page -->
<h1 class="fw-bold text-center my-4 admin-mng-title"><%= t('sidebar.mng_users') %></h1>

<div class="m-5 table-responsive-md d-flex justify-content-center align-items-center">
<table class="table table-hover align-middle">
    <thead class="fw-bold">
      <tr>
        <th><%= t('profile.user_id') %></th>
        <th><%= t('profile.fname') %></th>
        <th><%= t('profile.lname') %></th>
        <th><%= t('profile.email') %></th>
        <th><%= t('profile.last_login') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="table-group-divider custom">
      <% 20.times do %>
        <tr>
          <td><%= "1" %></td>
          <td><%= "long longan" %></td>
          <td><%= "long long cd" %></td>
          <td class="email-cell"><%= "longlonglonglongemail@gmail.com" %></td>
          <td><%= "4,56pm 23/43/2383" %></td>
          <td class="text-center">
            <%= link_to edit_admin_user_path(1), class: "save custom-primary-btn shadow-sm me-2" do %>
              <%= t('button.edit') %>
            <% end %>
            <%= link_to user_path(1), method: :delete, class: "btn btn-danger shadow-sm" do %>
              <%= t('button.delete') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
</div>

<nav class="nav-pagination" aria-label="Page navigation example text-center">
  <ul class="pagination justify-content-center my-5">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
