<% content_for :title, "Sign Up" %>
<% content_for :meta_descriptions, "Create a new Fotobook account"%>
<% content_for :meta_keywords, "signup"%>

<div class="auth-form-container d-flex">
<section class="card m-auto d-flex flex-column">
    <h1 class="card-header text-center"><%= "#{t('nav.app_name')} #{t('button.signup')}" %></h1>
    <div class="card-body">
        <!-- TODO: handle form-->
        <%= form_with url: users_path, method: :post, class: "auth-form d-flex flex-column gap-3" do |f| %>
            <div>
                <%= f.label :email do %>
                  <%= t('profile.email') %><span class="text-danger"> *</span>
                <% end %><br/>
                <%= f.email_field :email, placeholder: t('profile.email'), maxlength: 25, autocomplete: "username", autofocus: true, require: true  %>
            </div>
            <div>
                <%= f.label :fname do %>
                    <%= t('profile.fname') %><span class="text-danger"> *</span>
                <% end %><br/>
                <%= f.text_field :fname, placeholder: t('profile.fname'), maxlength: 25, autocomplete: "given-name", require: true  %>
            </div>
            <div>
                <%= f.label :lname do %>
                    <%= t('profile.lname') %><span class="text-danger"> *</span>
                <% end %><br/>
                <%= f.email_field :lname, placeholder: t('profile.lname'), maxlength: 25, autocomplete: "family-name", require: true  %>
            </div>
            <div>
                <%= f.label :new_password do %>
                    <%= t('profile.pw') %><span class="text-danger"> *</span>
                <% end %><br/>
                <div class="pw-field" data-controller="auth">
                    <%= f.password_field :new_password, placeholder: t('profile.pw'), maxlength: 64, autocomplete: "new-password",
                        data:{auth_target: "pwField"}, require: true  %>
                    <i class="fa-solid fa-eye togglePw" data-auth-target="eyeIcon" data-action="click->auth#togglePw"></i>
                </div>
            </div>
            
            <div>
                <%= f.label :cf_password do %>
                    <%= t('profile.pw_confirmation') %><span class="text-danger"> *</span>
                <% end %><br/>
                <div class="pw-field" data-controller="auth">
                    <%= f.password_field :cf_password, placeholder: t('profile.pw_confirmation'), maxlength: 64, autocomplete: "new-password",
                        data:{auth_target: "pwField"}, require: true %>
                    <i class="fa-solid fa-eye togglePw" data-auth-target="eyeIcon" data-action="click->auth#togglePw"></i>
                </div>
            </div>

            <%= f.submit t('button.signup'), class: "custom-primary-btn" %>
        <% end %>

        <p class="mt-3 text-center">
            <i class="fa-solid fa-arrow-left"></i>
            <%= link_to t('profile.back_to_login'), login_path, class: "custom-link" %>
        </p>
        
    </div>
</section>
 
</div>