<% content_for :title, "Sign Up" %>
<% content_for :meta_descriptions, "Create a new Fotobook account"%>
<% content_for :meta_keywords, "signup"%>

<div class="auth-form-container d-flex">
<section class="card m-auto d-flex flex-column">
    <h1 class="card-header text-center"><%= "#{t('nav.app_name')} #{t('button.signup')}" %></h1>
    <div class="card-body d-flex align-items-center justify-content-center flex-column">
        <!-- TODO: handle form-->
        <%= form_with url: users_path, method: :post do |f| %>
            <div class="row mb-3">
                <%= f.label :email, class: "col-form-label col-7 col-md-5" do %>
                  <%= t('profile.email') %><span class="text-danger"> *</span>
                <% end %>
                <%= f.email_field :email, placeholder: "#{t('profile.email')} #{t('profile.max_field', num: 25)}", maxlength: 25, autocomplete: "username", autofocus: true, required: true, class: "col-10 col-md-8" %>
            </div>
            <div class="row mb-3">
                <%= f.label :fname, class: "col-form-label col-7 col-md-5" do %>
                    <%= t('profile.fname') %><span class="text-danger"> *</span>
                <% end %>
                <%= f.text_field :fname, placeholder: "#{t('profile.fname')} #{t('profile.max_field', num: 25)}", maxlength: 25, autocomplete: "given-name", required: true, class: "col-10 col-md-8" %>
            </div>
            <div class="row mb-3">
                <%= f.label :lname, class: "col-form-label col-7 col-md-5" do %>
                    <%= t('profile.lname') %><span class="text-danger"> *</span>
                <% end %>
                <%= f.email_field :lname, placeholder: "#{t('profile.lname')} #{t('profile.max_field', num: 25)}", maxlength: 25, autocomplete: "family-name", required: true, class: "col-10 col-md-8" %>
            </div>
            <div class="row mb-3">
                <%= f.label :new_password, class: "col-form-label col-7 col-md-5" do %>
                    <%= t('profile.pw') %><span class="text-danger"> *</span>
                <% end %>
                <div class="pw-field col-10 col-md-8" data-controller="form">
                    <%= f.password_field :new_password, placeholder:"#{t('profile.pw')} #{t('profile.max_field', num: 64)}", maxlength: 64, autocomplete: "new-password",
                        data:{form_target: "pwField"}, required: true  %>
                    <i class="fa-solid fa-eye togglePw" data-form-target="eyeIcon" data-action="click->form#togglePw"></i>
                </div>
            </div>
            
            <div class="row mb-3">
                <%= f.label :cf_password, class: "col-form-label col-7 col-md-5" do %>
                    <%= t('profile.pw_confirmation') %><span class="text-danger"> *</span>
                <% end %>
                <div class="pw-field col-10 col-md-8" data-controller="form">
                    <%= f.password_field :cf_password, placeholder: t('profile.pw_confirmation'), maxlength: 64, autocomplete: "new-password",
                        data:{form_target: "pwField"}, required: true %>
                    <i class="fa-solid fa-eye togglePw" data-form-target="eyeIcon" data-action="click->form#togglePw"></i>
                </div>
            </div>

            <%= f.submit t('button.signup'), class: "custom-primary-btn m-auto mt-4" %>
        <% end %>

        <p class="mt-3 text-center">
            <i class="fa-solid fa-arrow-left"></i>
            <%= link_to t('profile.back_to_login'), login_path, class: "custom-link" %>
        </p>
        
    </div>
</section>
 
</div>