<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= album.description %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= album.is_public %>
  </p>

  <p>
    <strong>Hearts count:</strong>
    <%= album.hearts_count %>
  </p>

  <p>
    <strong>Photos count:</strong>
    <%= album.photos_count %>
  </p>

</div>
