<%= form_with model: album, url: album.persisted? ? album_path(album) : user_albums_path(current_user),
    class: "post-form w-100 mb-5 d-flex flex-column gap-5",
    data: { album_max_photos_value: 25 } do |f| %>

  <% if album.errors.any? %>
    <div id="error_explanation" class="error-messages mb-3">
      <h3><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h3>
      <ul>
        <% album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="big-row d-flex flex-column flex-md-row justify-content-between gap-5">
    <div class="col d-flex flex-column gap-3">
      <div class="d-flex flex-column gap-2" data-controller="char-counter">
        <div class="label-row d-flex justify-content-between">
          <%= f.label :title do %>
            <%= t('post.title') %>
            <span class="text-danger">*</span>
          <% end %>
          <div class="char-count text-muted">
            <span class="current-count" data-char-counter-target="counter">0</span>
            /<span class="max-count">140</span>
          </div>
        </div>
        <%= f.text_area :title, maxlength: 140, placeholder: "#{t('post.album_title')} #{t('profile.max_field', num: 140)}", class: "field-album-title",
            data: { "char-counter-target": "input", action: "input->char-counter#update" }, required: true %>
      </div>

      <div class="d-flex flex-column gap-2 mt-3">
        <%= f.label :is_public, t('post.mode') %>
        <%= f.select :is_public, [[" ðŸŒ #{t('post.public')}", true], ["ðŸ”’ #{t('post.private')}", false]] %>
      </div>
    </div>

    <div class="col d-flex flex-column gap-2" data-controller="char-counter">
      <div class="label-row d-flex justify-content-between">
        <%= f.label :description do %>
          <%= t('post.album_description') %>
          <span class="text-danger">*</span>
        <% end %>
        <div class="char-count text-muted">
          <span class="current-count" data-char-counter-target="counter">0</span>
          /<span class="max-count">300</span>
        </div>
      </div>
      <%= f.text_area :description, maxlength: 300, placeholder: "#{t('post.album_description')} #{t('profile.max_field', num: 300)}",
          data: { "char-counter-target": "input", action: "input->char-counter#update" }, required: true %>
    </div>
  </div>
  
  <div class="change-title d-flex gap-5">
      <p><%=t('post.change_photo')%> <span class="text-danger">*</span></p>
      <div class="note text-muted">
          <p><%=t('post.max_file', num: 5)%></p>
          <p><%= t('post.allowed_type') %></p>
          <p><%= t('post.max_photo', count: 25) %></p>
      </div>
  </div>

    <div class="photos-container d-flex flex-wrap justify-content-start align-items-center gap-4"
        data-controller="album" data-album-target="photosWrapper">

        <%# Add New Photo Button %>
        <button class="upload-btn add-new-photo-btn justify-content-center align-items-center <%= show_upload_btn_album(album) %>" type="button"
                data-action="click->album#addPhotoField" data-album-target="addPhotoBtn">
            <i class="fa fa-plus-circle fa-lg"></i>
        </button>

            <!-- Hidden file input, allow multiple files -->
        <%= f.file_field :image_path, accept: 'image/jpeg, image/png, image/gif', class: "d-none", multiple: true,
            data: { album_target: "fileField", action: "change->album#previewPhotos" }%>


        <%# Existing Photos (for edit mode) %>
    <% if album.persisted? %>
        <div class="preview-container d-flex flex-wrap justify-content-between w-100 mt-2 gap-4" 
            data-image-upload-target="previewWrapper">
        <% album.photos.each do |photo| %>
            <!-- Each photo preview with delete option, the new uploaded one placed to the end -->
            <div class="img-preview-container">
                <i class="fa-solid fa-xmark fa-large" title="<%= t('message.del_icon') %>"
                data-image-upload-target="delIcon" data-action="click->image-upload#deleteImg"></i>
                <%= image_tag photo.image_path.url, alt: t("post.previewed_photo"), class: "img-thumbnail", data: { image_upload_target: "preview" } %>
            </div>
        <% end %>
        </div>
    <% else %>
        <div class="preview-container d-flex flex-wrap justify-content-between w-100 mt-2 gap-4" 
            data-album-target="previewWrapper">
            
            <!-- TODO: need to concat each image from the file field and can delete it independently, the new uploaded one placed to the end -->
            <!-- INJECT VIA JS -->
        </div>
    <% end %>
    </div>

    <div class="d-flex justify-content-center align-items-center gap-4">
        <%= f.submit t('button.save'), class: "save custom-primary-btn" %>
    </div>
<% end %> 

<% if album.persisted? %>
  <div class="d-flex justify-content-center align-items-center gap-4">
    <%= button_to album_path(album),
              method: :delete,
              data: { turbo_confirm: t('message.delete_album') },
              class: "delete-btn" do %>
      <i class="fa-solid fa-trash-can fa-lg me-2" title="<%= t('button.delete') %>"></i>
      <%= t('button.delete') %>
    <% end %>
  </div>
<% end %>