<%= turbo_frame_tag "albumModal" do %>
  <div class="modal show d-block" id="myModal"
       data-controller="album-modal"
       data-action="turbo:submit-end->album-modal#hideModal"
       data-bs-backdrop="true"
       data-bs-keyboard="true"
       data-album-modal-current-index-value="0"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <div class="modal-title">
            <h4><%= simple_format(@album.title) %></h4>
            <div class="d-flex align-items-center gap-5 mt-3">
             
              <div class="d-flex align-items-center gap-2" data-controller="post">
                  <% if !user_signed_in? || current_user.is_admin %>
                      <i class="fa-solid fa-heart fa-lg align-self-center me-2 heart-count"></i>
                  <% else
                      is_liked = check_favorite(current_user.profile, @album, "Album")
                      icon = is_liked ? "fa-solid" : "fa-regular"
                      title_txt = is_liked ? t('message.unlike') : t('message.like')
                  %>
                  <i class="<%=icon%> fa-heart fa-lg align-self-center me-2 heart-count", title="<%= title_txt%>"
                      data-action="click->post#toggleHeart"
                      data-like-title="<%=t('message.like')%>"
                      data-unlike-title="<%= t('message.unlike') %>"
                      data-post-id = "<%= @album.id %>"
                      data-post-type = "Album"
                      data-user-id = "<%=current_user.id%>"></i>
                  <%end%>

                  <p class="heart-count d-inline m-0" data-post-target="heartCount">
                      <%= @album.hearts_count %>
                  </p>
              </div>

              <p class="text-muted m-0"><%= @album.updated_at.strftime("%H:%M:%S %-d/%-m/%Y") %></p>
            </div>
          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body d-flex justify-content-between align-items-center" data-album-modal-target="body">
            <button type="button" class="btn btn-light"
                    data-action="click->album-modal#prevPhoto">
              <i class="fa-solid fa-angle-left fa-lg"></i>
            </button>
            <%
            count = @album.photos_count 
            @album.photos.each_with_index do |photo, idx| %>
                <div class = "flex-column justify-content-center align-items-center d-flex <%= idx == 0 ? "" : "d-none" %>">
                    <%= image_tag photo.image_path.url, class: "album-photo-modal-img", 
                    data: { album_modal_target: "photo", index: idx } %>
                    <div class="d-flex mt-2 gap-5">
                      <div class="d-flex text-muted">
                        <p data-album-modal-target="currentIndex">1</p>
                        <p>&nbsp;/ <%= count %></p>
                      </div>
                      
                      <!-- Heart count of each photo -->
                      <div data-controller="post">
                          <% if !user_signed_in? || current_user.is_admin %>
                              <i class="fa-solid fa-heart fa-lg align-self-center me-2 heart-count"></i>
                          <% else
                              is_liked = check_favorite(current_user.profile, photo, "Photo")
                              icon = is_liked ? "fa-solid" : "fa-regular"
                              title_txt = is_liked ? t('message.unlike') : t('message.like')
                          %>
                          <i class="<%=icon%> fa-heart fa-lg align-self-center me-2 heart-count", title="<%= title_txt%>"
                              data-action="click->post#toggleHeart"
                              data-like-title="<%=t('message.like')%>"
                              data-unlike-title="<%= t('message.unlike') %>"
                              data-post-id = "<%= photo.id%>"
                              data-post-type = "Photo"
                              data-user-id = "<%=current_user.id%>"></i>
                          <%end%>

                          <p class="heart-count d-inline" data-post-target="heartCount">
                              <%= photo.hearts_count %>
                          </p>
                      </div>
                    </div>
                </div>
            <% end %>
            <button type="button" class="btn btn-light"
                    data-action="click->album-modal#nextPhoto">
              <i class="fa-solid fa-angle-right fa-lg"></i>
            </button>
        </div>

        <div class="modal-footer justify-content-between">
          <p><%= simple_format(@album.description) %></p>
          <button type="button" class="ms-2 btn btn-danger" data-bs-dismiss="modal" >Close</button>
        </div>

      </div>
    </div>
  </div>
<% end %>