<% content_for :title, "Login" %>
<% content_for :meta_descriptions, "Login to your Fotobook account"%>
<% content_for :meta_keywords, "login"%>

<div class="auth-form-container d-flex">
<section class="card m-auto d-flex flex-column">
    <h1 class="card-header text-center"><%= "#{t('nav.app_name')} #{t('button.login')}" %></h1>
    <div class="card-body d-flex align-items-center justify-content-center flex-column">
        <!-- TODO: Login via third parties-->
        <div class="social-login d-flex gap-5 justify-content-center mb-4">
            <%= link_to user_google_oauth2_omniauth_authorize_path, title: t('profile.login_with', app: "Google") do %>
                <%= image_tag "google.png", alt: "Google logo" %>
            <% end %>

            <%= link_to user_facebook_omniauth_authorize_path, title: t('profile.login_with', app: "Facebook") do %>
                <%= image_tag "facebook.png", alt: "Facebook logo" %>
            <% end %>

            <a href="#", title="<%= t('profile.login_with', app: "Twitter") %>">
                <%= image_tag "twitter.png", alt: "X logo" %>
            </a>
        </div>

        <div class="d-flex justify-content-center w-50">
            <hr class="flex-grow-1 border-bottom border-2 my-4">
            <p class="mx-3 text-muted text-uppercase fw-medium">
                <%= t('profile.or')%>
            </p>
            <hr class="flex-grow-1 border-bottom border-2 my-4">
        </div>

        <%= form_with model: resource, scope: resource_name, url: session_path(resource_name), local: true do |f| %>
            <div class="row mb-3 error">
              <%= render "devise/shared/error_messages", resource: resource %>
            </div>

            <div class="row mb-3">
                <%= f.label :email, t('profile.email'), class: "col-form-label col-5" %>
                <%= f.email_field :email, placeholder: t('profile.email'), maxlength: 25, autocomplete: "email", autofocus: true, required: true, class: "col-8" %>
            </div>
            <div data-controller="form" class="row mb-3">
                <%= f.label :password, t('profile.pw'), class: "col-form-label col-5" %>
                <div class="pw-field col-8 p-0">
                    <%= f.password_field :password, placeholder: t('profile.pw'), maxlength: 64, autocomplete: "current-password",
                         data: { form_target: "pwField" }, required: true %>
                    <i class="fa-solid fa-eye togglePw" data-action="click->form#togglePw" data-form-target="eyeIcon"></i>
                </div>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="row mb-3">
                <%= f.check_box :remember_me, class: "custom form-check-input" %>
                <%= f.label :remember_me, class: "col-form-label col-5" %>
              </div>
            <% end %>
            
            <%= f.submit t('button.login'), class: "m-auto mt-1 custom-primary-btn" %>
        <% end %>

        <div class="mt-3 text-center d-flex flex-column gap-2">
            <%= render "devise/shared/links" %>         
        </div>

    </div>
</section>
 
</div>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), data: { turbo: false } %><br />
  <% end %>
<% end %>

