<div id="<%= dom_id photo %>">
  <p>
    <strong>Image path:</strong>
    <%= photo.image_path %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= photo.is_public %>
  </p>

  <p>
    <strong>Hearts count:</strong>
    <%= photo.hearts_count %>
  </p>

</div>
