<%# app/views/photos/show.html.erb %>

<%= turbo_frame_tag "modal" do %>
  <div class="modal show d-block" id="myModal"
       data-controller="modal" <%# Add this Stimulus controller %>
       data-action="turbo:submit-end->modal#hideModal" <%# Optional: For forms within modal %>
       data-bs-backdrop="true" <%# Ensure backdrop is active %>
       data-bs-keyboard="true" <%# Ensure ESC key works %>
  >
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <div class="modal-title">
            <h4><%= @photo.title %></h4>
            <div class="d-flex align-items-center gap-5 mt-3">
              <div class="d-flex align-items-center gap-2">
                <p class="heart-count d-inline m-0"><%= @photo.hearts_count %></p>
                <i class="fa fa-heart fa-lg align-self-center me-2 heart-count"></i>
              </div>
              <p class="text-muted m-0"><%= @photo.updated_at.strftime("%H:%M:%S %-d/%-m/%Y") %></p>
            </div>
          </div>
          <%# data-bs-dismiss="modal" will be handled by Stimulus and Bootstrap %>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body d-flex justify-content-center">
          <%= image_tag @photo.image_path.url %>
        </div>

        <div class="modal-footer justify-content-between">
          <p><%= @photo.description %></p>
          
          <%# data-bs-dismiss="modal" will be handled by Stimulus and Bootstrap %>
          <button type="button" class="ms-2 btn btn-danger" data-bs-dismiss="modal" >Close</button>
        </div>

      </div>
    </div>
  </div>
<% end %>