<%= turbo_frame_tag "modal" do %>
  <div class="modal show d-block" id="myModal"
       data-controller="modal" <%# Add this Stimulus controller %>
       data-action="turbo:submit-end->modal#hideModal" <%# Optional: For forms within modal %>
       data-bs-backdrop="true" <%# Ensure backdrop is active %>
       data-bs-keyboard="true" <%# Ensure ESC key works %>
  >
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <div class="modal-title">
            <h4><%= simple_format(@photo.title) %></h4>
            <div class="d-flex align-items-center gap-5 mt-3">
              
              <div class="d-flex align-items-center gap-2" data-controller="post">
                  <% if !user_signed_in? || current_user.is_admin %>
                      <i class="fa-solid fa-heart fa-lg align-self-center me-2 heart-count"></i>
                  <% else
                      is_liked = check_favorite(current_user.profile, @photo, "Photo")
                      icon = is_liked ? "fa-solid" : "fa-regular"
                      title_txt = is_liked ? t('message.unlike') : t('message.like')
                  %>
                  <i class="<%=icon%> fa-heart fa-lg align-self-center me-2 heart-count", title="<%= title_txt%>"
                      data-action="click->post#toggleHeart"
                      data-like-title="<%=t('message.like')%>"
                      data-unlike-title="<%= t('message.unlike') %>"
                      data-post-id = "<%= @photo.id %>"
                      data-post-type = "Photo"
                      data-user-id = "<%=current_user.id%>"></i>
                  <%end%>

                  <p class="heart-count d-inline m-0" data-post-target="heartCount">
                      <%= @photo.hearts_count %>
                  </p>
              </div>
              
              <p class="text-muted m-0"><%= @photo.updated_at.strftime("%H:%M:%S %-d/%-m/%Y") %></p>
            </div>
          </div>
          <%# data-bs-dismiss="modal" will be handled by Stimulus and Bootstrap %>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body p-0 m-0 d-flex justify-content-center">
          <%= image_tag @photo.image_path.url, class: "w-100" %>
        </div>

        <div class="modal-footer justify-content-between">
          <p><%= simple_format(@photo.description) %></p>

          <%# data-bs-dismiss="modal" will be handled by Stimulus and Bootstrap %>
          <button type="button" class="ms-2 btn btn-danger" data-bs-dismiss="modal" >Close</button>
        </div>

      </div>
    </div>
  </div>
<% end %>