<% 
# local param: is_following, profile_id, bigger
    bigger ||= false
    follow_btn_class = is_following ? "active" : "gradient-text"
    title_txt = is_following ? t('button.unfollow_action') : t('button.follow_action')
    btn_text = is_following ? t('button.following', count: 1) : t('button.follow_action')
%>
<button class="ms-auto <%= bigger ? "bigger" : "" %> follow-btn <%=follow_btn_class%> text-lowercase" title="<%=title_txt%>"
    data-controller="post" data-action="click->post#toggleFollow"
    data-follow-title="<%=t('button.follow_action')%>"
    data-unfollow-title="<%=t('button.unfollow_action')%>"
    data-following-text="<%=t('button.following', count: 1)%>"
    data-followee-id = "<%= profile_id %>"
>
    <%=btn_text%>
</button>
