
<section class="px-3 pb-5 d-flex flex-wrap justify-content-around card-container">
<!-- TODO change to local var "post" + authorization + image viewing + dynamic counting + views based on photo/albu-->
<% posts.each do |post| %>
    <div class="post-card d-flex flex-nowrap" title="<%= t('message.click_post')%>">

        <% if is_photo %>
                <%= link_to photo_path(post), class: "post-img",  data: { turbo_frame: "modal" } do %>
                    <%= image_tag post.image_path.url, alt: t('button.photo.one'), class: "post-photo" %>
                <% end %>
        <%else%>
            <%= link_to album_path(post), class: "d-block", data: { turbo_frame: "modal" } do %>
            <!-- TODO: show photo modal -->
            <div class="post-img thumbnail d-flex align-items-center">
                <%= image_tag post.image_path.url, alt: t('button.photo.one'), class: "layer1" %>
                <%= image_tag post.image_path.url, alt: t('button.photo.one'), class: "layer2" %>
                <%= image_tag post.image_path.url, alt: t('button.photo.one'), class: "layer3" %>
            </div>
            <% end %> 
        <%end%>

        <div class="d-flex flex-column flex-wrap p-3 post-content">
            <div class="user d-flex align-items-center mb-3">
                <%= link_to users_path, title: "Open profile", class:"me-1 d-flex align-items-center" do %>
                    <%= image_tag post.profile.user.avatar.url, alt: t('profile.avatar'), class: "post avatar me-1" %>
                    <div class="d-flex flex-wrap">
                        <%= "#{post.profile.user.first_name} #{post.profile.user.last_name}" %>
                    </div>
                <% end %>

                <!-- TODO: In the "feeds", not have Follow button -->
                <%= render "layouts/follow_btn"%>
            </div>

            <h6 class="truncate">
                <%= post.title %>
            </h6>

            <p class="post-description truncate mb-4">
                <%= post.description %>
            </p>

            <div class="post-footer mt-auto d-flex flex-wrap justify-content-between" data-controller="post">
                <div class="mb-1">
                    <%
                        is_liked = true
                        icon = is_liked ? "fa-solid" : "fa-regular"
                        title_txt = is_liked ? t('message.unlike') : t('message.like')
                    %>
                    <i class="<%=icon%> fa-heart fa-lg align-self-center me-2 heart-count", title="<%= title_txt%>"
                        data-action="click->post#toggleHeart"
                        data-like-title="<%=t('message.like')%>"
                        data-unlike-title="<%= t('message.unlike') %>"></i>

                    <p class="heart-count d-inline"><%= post.hearts_count %></p>
                </div>
                <p class="date ms-2"><%= post.updated_at.strftime("%H:%M:%S %d/%m/%Y") %></p>
            </div>

        </div>


    </div>
<% end %>

</section>